@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
html {
  height: 100%;
}

body {
  background: #00425a;
}

.logo{
  height: 15%;
  position: absolute;
  padding-left: 0px;
}

.title-text{
  text-align: center;
  padding-top: 12px;
  color: black;
  font-size: 38px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  
}

.description-text{
  font-size: 24px;
  text-align: center;
  color: #000000;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 10px;
  position: relative;
}

#level-selector {
  text-align: center;
  margin-top: 10px;
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.game-body, .promo-body, .video-body{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  padding-top: 25px;
}

#startBtn{
  background-color: #38E54D;
  border: #38E54D;
  width: 100%;
  height: 50px;
}

.start-btn-text{
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;

}

.btn,
.btn-stop {
  box-sizing: border-box;
  appearance: none;
  background-color: #1f8a70;
  border: 2px solid black;
  border-radius: 0.6em;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  font-weight: 700;
  border-color: black;
}

.btn:hover {
  color: black;
  outline: 0;
  background-position: 0;
  background-color: #bfdb38;
  border-color: black;
}

.btn:focus {
  background-color: #bfdb38;
  outline: 0;
  color: black;
  border-color: black;
}

.btn-stop {
  background-color: #e55643;
}

.btn-stop:hover {
  color: black;
  outline: 0;
  background-color: #e55643;
  background-position: 0;
  border-color: black;
}

button {
  margin: 10px;
}

#game-container {
  height: 250px;
  width: 400px;
  margin: 5px auto;
  display: none;
  border-color: black;
}

#video-container {
  text-align: center;
}
#video {
  width: 400px;
  height: 300px;
}

.footer {
  background-color: black;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
